<a href="https://colab.research.google.com/github/BALaka-18/Unsupervised-algorithm-and-Dimensionality-Reduction/blob/master/DBSCAN_using_Sklearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_score

In [5]:
mall_data = pd.read_csv('/content/drive/MyDrive/Mall_Customers.csv')
print(mall_data.head(10),"\nShape = ",mall_data.shape)
# Filtering out 2D data for testing DBSCAN
X = mall_data.iloc[:,[3,4]].values
print("\n",X[:11],"\nShape = ",X.shape)

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
5           6  Female   22                  17                      76
6           7  Female   35                  18                       6
7           8  Female   23                  18                      94
8           9    Male   64                  19                       3
9          10  Female   30                  19                      72
Shape =  (200, 5)

 [[15 39]
 [15 81]
 [16  6]
 [16 77]
 [17 40]
 [17 76]
 [18  6]
 [18 94]
 [19  3]
 [19 72]
 [19 14]]
Shape =  (200, 2)

In [9]:
dbscan = DBSCAN(eps = 3, min_samples = 4)
# Fitting the model and displaying the labels
model = dbscan.fit(X)
cluster_labels = model.labels_
print(cluster_labels)

[-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1  0  0  0  0 -1 -1  0 -1  0 -1  0  0 -1  0 -1 -1
  0 -1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 -1  2  1  2  2  2  2  2
  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  3  2  3
  3 -1  3 -1 -1  4 -1 -1 -1  4  5  4 -1  4  5 -1  5  4 -1  4  5 -1 -1  6
 -1 -1 -1  7 -1  6 -1  6 -1  7 -1  6 -1  7 -1  7 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1  8 -1  8 -1  8 -1  8 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1]

In [11]:
# Identifying points that make up our core points
cluster_cores = np.zeros_like(cluster_labels,dtype=bool)
cluster_cores[dbscan.core_sample_indices_] = True
print(cluster_cores)

[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False  True  True
 False False  True False  True False  True  True False  True False False
  True False  True  True  True  True  True False  True  True False  True
 False  True False  True False False False  True  True  True  True  True
  True  True  True  True  True  True False  True  True  True  True  True
  True  True  True  True  True  True  True  True  True False False  True
 False False False False False False False False False  True False  True
 False False False False  True  True False False False False False False
 False False False False False False False  True False  True False  True
 False False False False False False False False False False False False
 False False  True False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False]

In [12]:
# Finding number of clusters and calculating silhouette score
n_clusters = len(set(cluster_labels))- (1 if -1 in cluster_labels else 0)
print(n_clusters,"\n")
print("Silhouette score = ", silhouette_score(X,cluster_labels))

9

Silhouette score =  -0.1908319132560097